# Copy to terraform.tfvars (gitignored) and adjust.
node_name = "pve"

ssh_public_keys = [
  "ssh-ed25519 AAAA... you@laptop",
]

ssh_username = "foo"
ssh_keypath = "path/to/id_rsa"

dns_servers = ["x.x.x.x"]
dns_domain = "sld.tld"
