# Copy to terraform.tfvars (gitignored) and adjust.
node_name = "pve"

ssh_public_keys = [
  "ssh-ed25519 AAAA... you@laptop",
]

ssh_username = "foo"
ssh_keypath = "path/to/id_rsa"

# Cloudflare
cloudflare_api_token = "foo_bar_baz"
zone_id_1 = "foo_bar_baz"
